@model HW3_u21638684.Models.type

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Type Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>

